<!DOCTYPE html>

{% extends 'base.html' %}

{% load static %}

<html>
  <head>
    {% block title %}Friends{% endblock %}
    {% block extra_head %}
    <link rel="stylesheet" href="{% static "friends/css/style.css" %}"/>
    {% endblock %}
  </head>

  <body>
    {% block content %}
    <p class="container">Find some friends !</p>
    <div class="container">
      {% for user in users %}
      <div class="item">
        <p>{{ user.username }}</p>
        <img class="profile-pic" src="{% static "friends/image/user.png" %}">
        <a class="follow" href=#>Follow</a>

      </div>
      {% endfor %}
    </div>
    {% endblock %}
  </body>

</html>

